
/*Mobile View*/
.container{
    width:93%;
    margin: 5% auto;
}
 .container h1{
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 30px;
 }

 .products-section{
    margin:5% 0;
    display: flex;
    flex-direction: column;
    gap: 10;
 }
 .products-section .prod-item{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content:center; 
    align-items: center;
    padding: 20px;
     background-position: center center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.413);
    background-blend-mode: overlay;
    
    margin-bottom: 10%;
   
 }


 .products-section .prod-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    text-align: center;
 
 }

 .products-section h2, .products-section .price{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    
 }
.products-section h2{
    
    padding: 0 10%;
   

}
/*Product Background Images*/
 .products-section .box1{
    
    background-image: url("../images/pr1.png");
   
 }

 .products-section .box2{
    
    background-image: url("../images/pr2.png");
   
 }

 .products-section .box3{
    
    background-image: url("../images/pr3.png");
   
 }

 .products-section .box4{
    
    background-image: url("../images/pr4.png");
   
 }

 .products-section .box5{
    
    background-image: url("../images/pr5.png");
   
 }
 .products-section .box6{
    
    background-image: url("../images/pr6.png");
   
 }
 .products-section .box7{
    
    background-image: url("../images/pr7.png");
   
 }

 .products-section .box8{
    
    background-image: url("../images/pr8.png");
   
 }


/*Tablet View for products section*/

@media screen and (min-width: 700px) {
    .products-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         column-gap:1.5% ;
         margin-bottom:1.5%;
        
     }

     .products-section .prod-item{
        margin-bottom:1.5%;
        flex-basis:32.33% ;
        
        

        }
     
}


@media screen and (min-width: 900px) {
    .products-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         column-gap:1% ;
       
         background-size: contain;
        
     }

     .products-section .prod-item{
        width: 250px;
        margin-bottom:1%;
        flex-basis:24.2% ;
        
        

        }
     
}


/*Mobile View

.products-section{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  
   

}

.products-section h2{
    font-family: poppins;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    margin: px 0;

}

/*Common Class for products
.products-section .prod {
    position: relative;
    height: 450px;
    display: flex;
    justify-content:center; 
    align-items: center;
    padding: 20px;
    background: black;
    background
   
    
   
}
.products-section .prod-box1{
    background: url("../images/pr1.png") no-repeat center center /cover;
}

.products-section .prod-box2{
    background: url("../images/pr2.png") no-repeat center center /cover;
}
.products-section .prod-box3{
    background: url("../images/pr3.png") no-repeat center center /cover;
}
.products-section .prod-box4{
    background: url("../images/pr4.png") no-repeat center center /cover;
}
.products-section .prod-box5{
    background: url("../images/pr5.png") no-repeat center center /cover;
}

.products-section .prod-box6{
    background: url("../images/pr6.png") no-repeat center center /cover;
}

.products-section .prod-box7{
    background: url("../images/pr7.png") no-repeat center center /cover;
}

.products-section .prod-box8{
    background: url("../images/pr8.png") no-repeat center center /cover;
}


.products-section .prod-content{
  
    display:flex;
    flex-direction:column;
    row-gap: 10px;
    text-align: center;
    z-index: 2;
}

.prod-heading{
    margin:50px auto;
    font-family: poppins;
    font-weight:300;
    font-size: 28px;
    color:black;
    text-align: center;

}

.products-section .price{
    color:white;
    font-size:16px;
    font-family: poppins;
}

.prod-name{
    color:white;
    font-family: poppins;
    font-size: 16px;
    font-weight: 300;

}

.over-lay{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.498);
    height: 100%;
    width:100%;
}

/*Tablet View
@media only screen and (min-width: 768px){
    .products-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap:2.3%;
     
        
       
    }

    .products-section .prod{
        height: 250px;;
        width: 31.6%;
        background-size: contain;
      
    }
   
}

/*Desktop View
@media only screen and (min-width: 960px){
    .products-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap:2.3%;
        
        
       
    }

    .products-section .prod{
        height: 250px;;
        width: 23.1%;
        background-size: contain;
        
    }
}
   
