
/*Mobile View*/
.container{
    width:93%;
    margin: 5% auto;
}
 .container h1{
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 30px;
 }

 .products-section{
    margin:5% 0;
    display: flex;
    flex-direction: column;
    gap: 15;
 }
 .products-section .prod-item{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content:center; 
    align-items: center;
    padding: 20px;
     background-position: center center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.413);
    background-blend-mode: overlay;
    
    margin-bottom: 10%;
   
 }


 .products-section .prod-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    text-align: center;
 
 }

 .products-section h2, .products-section .price{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    
 }
.products-section h2{
    
    padding: 0 10%;
   

}
/*Product Background Images*/
 .products-section .box1{
    
    background-image: url("../images/pr1.png");
   
 }

 .products-section .box2{
    
    background-image: url("../images/pr2.png");
   
 }

 .products-section .box3{
    
    background-image: url("../images/pr3.png");
   
 }

 .products-section .box4{
    
    background-image: url("../images/pr4.png");
   
 }

 .products-section .box5{
    
    background-image: url("../images/pr5.png");
   
 }
 .products-section .box6{
    
    background-image: url("../images/pr6.png");
   
 }
 .products-section .box7{
    
    background-image: url("../images/pr7.png");
   
 }

 .products-section .box8{
    
    background-image: url("../images/pr8.png");
   
 }


/*Tablet View for products section*/

@media screen and (min-width: 700px) {
    .products-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         column-gap:1.5% ;
         margin-bottom:1.5%;
        
     }

     .products-section .prod-item{
        margin-bottom:1.5%;
        flex-basis:32.33% ;
        
        

        }
     
}


@media screen and (min-width: 900px) {
    .products-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         column-gap:1% ;
         
    
        
        
     }

     .products-section .prod-item{
        width: 250px;
        margin-bottom:1%;
        flex-basis:24.2% ;
        
        
        
        

        }
     
}
